@-webkit-keyframes spin-top-left {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes spin-bottom-left {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes spin-top-right {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes spin-bottom-right {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes spin-top-right {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes spin-bottom-up {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@-webkit-keyframes spin-top-up {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@-webkit-keyframes spin-bottom-down {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@-webkit-keyframes spin-top-down {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

atom-text-editor::shadow .cursors .pacmanfy {
  width: 0px !important;
  height: 0px !important;
  opacity: 1;
}

atom-text-editor::shadow .pac-top {
  height:12px;
  width:24px;
  border-radius:12px 12px 0 0!important;
  background:yellow;
  position: relative;
  transform-origin: bottom center;
  -webkit-animation: spin-top-left 250ms ease infinite alternate;
}

atom-text-editor::shadow .pac-bottom {
  height:12px;
  width:24px;
  border-radius: 0 0 12px 12px !important;
  background:yellow;
  position: relative;
  transform-origin: top center;
  -webkit-animation: spin-bottom-left 250ms ease infinite alternate;
}
